
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #ff6a6a;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #41b883;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lightgray: rgb(209, 215, 223);
$gray: rgb(160, 165, 175);
$darkgray: rgb(118, 118, 129);
$black: #212529;

// Basic Layout
$header-height: 3rem;
